{% extends "auctions/layout.html" %}

{% block title %} {{ titre }} {% endblock %}

{% block body %}
    {% for article in articles_a_vendre %}
    <div class="container">
        <div class="d-flex flex-md-row flex-column">
            <div class="col-md-4">
                <img class="img-thumbnail mx-auto d-block" src="{{ article.image_url }}" style="width:80%"/>
            </div>
            <div class="col-md-8 m-2">
                <div class="row">
                    <h3><a href="{% url 'visualiser' article.id %}">{{ article.titre }}</a>
                        {% if article.actif and user.is_authenticated and user in article.users_interesses.all %}
                        *
                        {% endif %}
                    </h3>

                </div>
                <div class="row">
                    <h4>Prix : {{ article.mise_a_prix|floatformat:2 }} Euros</h4>
                </div>
                {% if user.is_authenticated and user == article.proprietaire %}
                <span class="badge text-bg-danger">Propriétaire</span>
                {% endif %}
                {% if article.actif %}
                <span class="badge text-bg-success">Actif</span>
                {% else %}
                <span class="badge text-bg-secondary">Enchère clôturée</span>
                {% endif %}

                {% if article.actif and user.is_authenticated and not user == article.proprietaire %}
                <form action="{% url 'api_watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_id_article" value="{{ article.id }}">
                    <input type="hidden" name="form_redirect" value="{{ nm_redirect }}">
                    <input type="hidden" name="form_ctx" value="{{ ctx_redirect }}">
                        {% if user in article.users_interesses.all %}
                        <input type="hidden" name="form_mode" value="mode_retrait">
                        <input class="btn btn-secondary btn-sm m-1" type="submit" value="Supprimer des favoris">
                        {% else %}
                        <input type="hidden" name="form_mode" value="mode_ajout">
                        <input class="btn btn-warning btn-sm m-1" type="submit" value="Ajouter aux favoris">
                        {% endif %}
                </form>
                {% endif %}
        </div>
        </div>
    </div>
    <hr>
    {% endfor %}

{% endblock %}