{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for article in articles_a_vendre %}
        <div class="row justify-content-center">
            <div class="col-2">
                <img class="img-thumbnail" src="{{ article.image_url }}" style="height:100px"/>
            </div>
            <div class="col-6">
                <h3><a href="{% url 'visualiser' article.id %}">{{ article.titre }}</a> </h3> 
                <h4>Prix : {{ article.mise_a_prix|floatformat:2 }} Euros</h4>
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}