{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Détail de l'article : {{ article.titre }} </h2>

    <div class="row justify-content-center">
        <div class="col-2">
            <img class="img-thumbnail" src="{{ article.image_url }}" style="height:100px"/>
        </div>
        <div class="col-6">
            <h4>Catégorie : {{ categorie }}</h4>
            <h4>Mise à prix : {{ article.mise_a_prix|floatformat:2 }} Euros</h4>
            <h4>Description :</h4>
            <p>{{ article.description }}</p>
        </div>
    </div>


{% endblock %}